.mat-drawer-container{
    height: 100vh;
}

.menu-icon{
    cursor: pointer;
    margin-right: 24px;
}

.sidenav{
    width: 300px;
}

.logo-div{
    width: 100%;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 56px;
    box-sizing: border-box;
}

.logo{
    max-width: 100%;
    height: 52px;
}

mat-toolbar, mat-toolbar-row{
    min-height: 56px;
    height: 56px;
}

.menu-items{
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li{
        padding: 0 16px;
        height: 48px;
        display: flex;
        align-items: center;
        cursor: pointer;

        mat-icon{
            margin-right: 16px;
        }

        &:hover{
            background-color: rgba(0,0,0, 0.1);
        }
    }
}

.router-container{
    padding-left: 56px;
    padding-top: 16px;
    padding-right: 56px;
}

.dialog-container{
    position: relative;

    mat-progress-bar{
        position: absolute;
        left: -24px;
        right: -24px;
        width: calc(100% + 24px);
    }
}